.nav-title {
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    font-size: 14px;
    background: #fff;
    border-bottom: 1px solid #eee;
}

.to-blog {
    float: right;
}

.blogs {}

.com-padding {
    padding: 0 0.5rem;
}

.pointer {
    cursor: pointer;
}